<!DOCTYPE html>
<html>
<head>
	<title>Home page</title>
</head>
<body>
	<div>
		<div>
			<h1> Welcome, <%= name %></h1>
			<h3>Your ID => <%= name %></h3>
		</div>
		
	</div>
	<nav>
		<ul>
			<li>Home</li>
			<li>Home</li>
			<li>Hello</li>
			<li>Home</li>
			<a href="/logout">Logout</a>
		</ul>
	</nav>
		
	
</body>
</html>